<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/app.css">

</head>
<body>
  <!--Shows Cow info-->
  <div th:unless="${#lists.isEmpty(cows)}" class="container">
    <div class="row row-cols-2 flex-md-row flex-column justify-content-around">
      <div class="col-12 col-md-4 d-flex flex-wrap cow_profile">
        <div class="col-4 cow_profile_left">
          <img class="img-fluid " src="../static/images/dairy_pics/babycow.jpg" alt="cow_image">
        </div>
        <div class="col-6 cow_profile_right">
        <p>番号</p>
        <p>生後oo月</p>
        </div>
        <div class="col-md-12 d-none d-md-inline-block">
          <img class="img-fluid" src="../static/images/dairy_pics/babycow.jpg" alt="cow_image">
        </div>
      </div>

      <div class="col-12 col-md-4 d-flex flex-wrap cow_profile">
        <div class="col-4 cow_profile_left text-center">
          <img class="img-fluid" th:src="${profileImageUrl} != null ? @{${profileImageUrl}} : @{/images/no-image.png}" alt="cow image" />
        </div>
        <div class="col-6 cow_profile_right">
        <p>番号</p>
        <p>生後oo月</p>
        </div>
        <div class="col-md-12 d-none d-md-inline-block">
          <img class="img-fluid" src="../static/images/dairy_pics/babycow.jpg" alt="cow_image">
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>